html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button {
  height: 65px;
  width: 180px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 25px;
  font-size: 18px;
  color: white;
}

.wrapper {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  overflow-y: hidden;
}

.header {
  background-color: #0082e5;
  height: 70px;
  overflow: hidden;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
}

.header__container {
  width: 55%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(35px/2);
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container .header__single-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__container .header__single-contact .header__icon {
  margin: 2px 10px 2px 5px;
}

.header__container .header__single-contact .header__contact-info {
  margin: 2px 10px 2px 5px;
}

.header__form .form__input, .header form .form__input {
  display: none;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.header__form .form__input::-webkit-input-placeholder, .header form .form__input::-webkit-input-placeholder {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

.header__form .form__input:-ms-input-placeholder, .header form .form__input:-ms-input-placeholder {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

.header__form .form__input::-ms-input-placeholder, .header form .form__input::-ms-input-placeholder {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

.header__form .form__input::placeholder, .header form .form__input::placeholder {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
}

.header__form .form__button, .header form .form__button {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.main-side {
  background-color: #0891f9;
  height: 498px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
  background-image: url("https://pathfiinder.github.io/Ceatr-5-PSD-to-HTML/images/main-side__bgc.png");
  background-repeat: no-repeat;
  background-size: 1000px 500px;
  background-position: 55% 240px;
}

.main-side__logo {
  font-family: 'Saira Stencil One', cursive;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 5px;
}

.main-side__bar-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

.main-side__navigation, .main-side menu {
  background-color: #0082e5;
  position: absolute;
  top: calc(10px + 25px + 5px);
  width: 100%;
  text-align: center;
  display: none;
}

.main-side__navigation .menu__list, .main-side menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-side__navigation .menu__list .menu__item, .main-side menu .menu__list .menu__item {
  padding: 5px;
}

.main-side__navigation .menu__list .menu__item:hover, .main-side menu .menu__list .menu__item:hover {
  border: 1px solid #ffffff;
  background-color: #47b0ff;
}

.main-side__navigation .menu__list .menu__item .menu__link, .main-side menu .menu__list .menu__item .menu__link {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

.main-side__navigation .menu__list .menu__item .menu__link:hover, .main-side menu .menu__list .menu__item .menu__link:hover {
  color: black;
}

.main-side .menu--active {
  display: block;
  z-index: 1;
}

.main-side__container, .main-side .container {
  overflow: hidden;
  text-align: center;
  width: 300px;
  height: 220px;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-side__container .container__title, .main-side .container .container__title {
  font-size: 30px;
  font-weight: bold;
}

.main-side__container .container__describe, .main-side .container .container__describe {
  margin-top: 10px;
}

.main-side__container .container__button, .main-side .container .container__button {
  margin-top: 10px;
}

.global {
  background-color: white;
  height: 640px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4e4e4d;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}

.global__container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.global__container .global__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.global__container .global__describe {
  text-align: start;
}

.global__container .global__describe--bold {
  font-weight: 700;
}

.global__container .global__describe--second {
  margin-top: 20px;
}

.global__container .global__describe--first:first-letter {
  font-size: 20px;
}

.global__container .global__button {
  border: 2px solid #0891f9;
  margin-top: 10px;
  color: #0891f9;
}

.global__photos-wrapper {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: 10px auto 0 auto;
  height: 290px;
  position: relative;
  padding-top: 10px;
}

.global__photos-wrapper .photos-wrapper__corners-images {
  position: absolute;
  height: 40px;
  width: 40px;
}

.global__photos-wrapper .photos-wrapper__corners-images--top-left {
  height: 45px;
  width: 45px;
  top: -8px;
  left: -8px;
}

.global__photos-wrapper .photos-wrapper__corners-images--top-right {
  height: 45px;
  width: 45px;
  top: -8px;
  right: -8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.global__photos-wrapper .photos-wrapper__corners-images--bottom-right {
  bottom: -40px;
  right: 0;
}

.global__photos-wrapper .photos-wrapper__corners-images--bottom-left {
  bottom: -40px;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.global__photos-wrapper__counter, .global__photos-wrapper .counter {
  width: 100px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.global__photos-wrapper__counter .counter__container, .global__photos-wrapper .counter .counter__container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 10px;
  line-height: 20px;
  margin-left: 5px;
  font-weight: bold;
}

.global__photos-wrapper__counter .counter__arrow, .global__photos-wrapper .counter .counter__arrow {
  line-height: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.global__photos-wrapper .photos-wrapper__single-photo, .global__photos-wrapper .single-photo {
  text-align: center;
  width: 80%;
  height: 280px;
  margin: 0 auto;
  position: relative;
}

.global__photos-wrapper .photos-wrapper__single-photo .single-photo__title, .global__photos-wrapper .single-photo .single-photo__title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.global__photos-wrapper .photos-wrapper__single-photo .single-photo__describe, .global__photos-wrapper .single-photo .single-photo__describe {
  padding-bottom: 15px;
}

.global__photos-wrapper .photos-wrapper__single-photo .single-photo__image, .global__photos-wrapper .single-photo .single-photo__image {
  height: 200px;
  width: 200px;
}

.global__photos-wrapper .photos-wrapper__single-photo .single-photo__shadow, .global__photos-wrapper .single-photo .single-photo__shadow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  width: 200px;
}

.global__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 180px;
  height: 20px;
  text-align: center;
  margin: 40px auto 20px auto;
}

.global__list .global__item {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.global__list .global__item--last {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.global__list .global__item .global__circle {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50%;
}

.global__list .global__item .global__circle--blue {
  -webkit-box-shadow: 0 0 3px 1px  #00ff79;
          box-shadow: 0 0 3px 1px  #00ff79;
  background-color: #0891f9;
  border-color: #00cc61;
}

.global__list .global__item .global__circle--active {
  border: 2px solid black;
  background-color: #0891f9;
}

.services {
  background-color: #f7f7f7;
  height: 600px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4e4e4d;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  text-align: center;
}

.services__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.services__title--blue {
  color: #0891f9;
}

.services__content {
  font-weight: bold;
  margin-bottom: 10px;
}

.services__container, .services .container {
  width: 90%;
  margin: 0 auto;
  height: 520px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__container .container__single, .services .container .container__single {
  margin: 8px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  position: relative;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.services__container .container__single--active, .services .container .container__single--active {
  -webkit-box-shadow: 0 0 6px 3px rgba(8, 145, 249, 0.2);
          box-shadow: 0 0 6px 3px rgba(8, 145, 249, 0.2);
}

.services__container .container__single .container_corners-images, .services .container .container__single .container_corners-images {
  position: absolute;
  height: 40px;
  width: 40px;
  display: none;
}

.services__container .container__single .container_corners-images--top-left, .services .container .container__single .container_corners-images--top-left {
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.services__container .container__single .container_corners-images--top-right, .services .container .container__single .container_corners-images--top-right {
  top: 0;
  right: 0;
}

.services__container .container__single .container_corners-images--active, .services .container .container__single .container_corners-images--active {
  display: block;
}

.services__container .container__single .container__icon, .services .container .container__single .container__icon {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #0891f9;
  border-radius: 50%;
  color: #0891f9;
}

.services__container .container__single .container__title, .services .container .container__single .container__title {
  margin: 6px 0;
  font-size: 20px;
  font-weight: bold;
}

.services__container .container__single .container__describe, .services .container .container__single .container__describe {
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}

.productive {
  height: 760px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4e4e4d;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}

.productive__container {
  height: 260px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.productive__container .container__title {
  font-weight: bold;
  font-size: 20px;
}

.productive__container .container__title--blue {
  padding-bottom: 5px;
  color: #0891f9;
}

.productive__container .container__describe {
  width: 90%;
  margin: 15px auto 10px auto;
  font-weight: 300;
}

.productive__container .container__describe:first-letter {
  font-size: 20px;
}

.productive__container .container__describe--bold {
  font-weight: bold;
}

.productive__container .container__button {
  color: #0891f9;
  border-color: #0891f9;
  height: 50px;
  margin-left: calc(100% - 180px - 10px);
  margin-top: 5px;
}

.productive__photos-container, .productive .photos-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.productive__photos-container .photos-container__image, .productive .photos-container .photos-container__image {
  width: 350px;
  height: 250px;
  margin-left: 30%;
}

.productive__photos-container .photos-container__box, .productive__photos-container .box, .productive .photos-container .photos-container__box, .productive .photos-container .box {
  width: 310px;
  height: 300px;
  position: absolute;
  top: 150px;
  right: 5px;
  background-color: pink;
}

.productive__photos-container .photos-container__box .box__counter, .productive__photos-container .photos-container__box .b-counter, .productive__photos-container .box .box__counter, .productive__photos-container .box .b-counter, .productive .photos-container .photos-container__box .box__counter, .productive .photos-container .photos-container__box .b-counter, .productive .photos-container .box .box__counter, .productive .photos-container .box .b-counter {
  width: 100px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.productive__photos-container .photos-container__box .box__counter .b-counter__container, .productive__photos-container .photos-container__box .b-counter .b-counter__container, .productive__photos-container .box .box__counter .b-counter__container, .productive__photos-container .box .b-counter .b-counter__container, .productive .photos-container .photos-container__box .box__counter .b-counter__container, .productive .photos-container .photos-container__box .b-counter .b-counter__container, .productive .photos-container .box .box__counter .b-counter__container, .productive .photos-container .box .b-counter .b-counter__container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 10px;
  line-height: 20px;
  margin-left: 5px;
  font-weight: bold;
}

.productive__photos-container .photos-container__box .box__counter .b-counter__arrow, .productive__photos-container .photos-container__box .b-counter .b-counter__arrow, .productive__photos-container .box .box__counter .b-counter__arrow, .productive__photos-container .box .b-counter .b-counter__arrow, .productive .photos-container .photos-container__box .box__counter .b-counter__arrow, .productive .photos-container .photos-container__box .b-counter .b-counter__arrow, .productive .photos-container .box .box__counter .b-counter__arrow, .productive .photos-container .box .b-counter .b-counter__arrow {
  line-height: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.productive__photos-container .photos-container__box .box__list, .productive__photos-container .box .box__list, .productive .photos-container .photos-container__box .box__list, .productive .photos-container .box .box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 180px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 125px;
  left: -65px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.productive__photos-container .photos-container__box .box__list .box__item, .productive__photos-container .box .box__list .box__item, .productive .photos-container .photos-container__box .box__list .box__item, .productive .photos-container .box .box__list .box__item {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.productive__photos-container .photos-container__box .box__list .box__item--last, .productive__photos-container .box .box__list .box__item--last, .productive .photos-container .photos-container__box .box__list .box__item--last, .productive .photos-container .box .box__list .box__item--last {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.productive__photos-container .photos-container__box .box__list .box__item .box__circle, .productive__photos-container .box .box__list .box__item .box__circle, .productive .photos-container .photos-container__box .box__list .box__item .box__circle, .productive .photos-container .box .box__list .box__item .box__circle {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50%;
}

.productive__photos-container .photos-container__box .box__list .box__item .box__circle--blue, .productive__photos-container .box .box__list .box__item .box__circle--blue, .productive .photos-container .photos-container__box .box__list .box__item .box__circle--blue, .productive .photos-container .box .box__list .box__item .box__circle--blue {
  -webkit-box-shadow: 0 0 3px 1px  #00ff79;
          box-shadow: 0 0 3px 1px  #00ff79;
  background-color: #0891f9;
  border-color: #00cc61;
}

.productive__photos-container .photos-container__box .box__list .box__item .box__circle--active, .productive__photos-container .box .box__list .box__item .box__circle--active, .productive .photos-container .photos-container__box .box__list .box__item .box__circle--active, .productive .photos-container .box .box__list .box__item .box__circle--active {
  border: 2px solid black;
  background-color: #0891f9;
}

.productive__photos-container .photos-container__box .box__main-container, .productive__photos-container .photos-container__box .main-container, .productive__photos-container .box .box__main-container, .productive__photos-container .box .main-container, .productive .photos-container .photos-container__box .box__main-container, .productive .photos-container .photos-container__box .main-container, .productive .photos-container .box .box__main-container, .productive .photos-container .box .main-container {
  background-color: white;
  -webkit-box-shadow: 0 0 29px 8px rgba(8, 145, 249, 0.16);
          box-shadow: 0 0 29px 8px rgba(8, 145, 249, 0.16);
  width: 250px;
  height: 230px;
  position: absolute;
  top: 20px;
  right: 10px;
  padding-top: 10px;
  overflow: hidden;
}

.productive__photos-container .photos-container__box .box__main-container .box__main-container:before, .productive__photos-container .photos-container__box .main-container .box__main-container:before, .productive__photos-container .box .box__main-container .box__main-container:before, .productive__photos-container .box .main-container .box__main-container:before, .productive .photos-container .photos-container__box .box__main-container .box__main-container:before, .productive .photos-container .photos-container__box .main-container .box__main-container:before, .productive .photos-container .box .box__main-container .box__main-container:before, .productive .photos-container .box .main-container .box__main-container:before {
  content: "";
  display: block;
  height: 100px;
  width: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__title, .productive__photos-container .photos-container__box .main-container .main-container__title, .productive__photos-container .box .box__main-container .main-container__title, .productive__photos-container .box .main-container .main-container__title, .productive .photos-container .photos-container__box .box__main-container .main-container__title, .productive .photos-container .photos-container__box .main-container .main-container__title, .productive .photos-container .box .box__main-container .main-container__title, .productive .photos-container .box .main-container .main-container__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__content, .productive__photos-container .photos-container__box .main-container .main-container__content, .productive__photos-container .box .box__main-container .main-container__content, .productive__photos-container .box .main-container .main-container__content, .productive .photos-container .photos-container__box .box__main-container .main-container__content, .productive .photos-container .photos-container__box .main-container .main-container__content, .productive .photos-container .box .box__main-container .main-container__content, .productive .photos-container .box .main-container .main-container__content {
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 13px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__content:first-letter, .productive__photos-container .photos-container__box .main-container .main-container__content:first-letter, .productive__photos-container .box .box__main-container .main-container__content:first-letter, .productive__photos-container .box .main-container .main-container__content:first-letter, .productive .photos-container .photos-container__box .box__main-container .main-container__content:first-letter, .productive .photos-container .photos-container__box .main-container .main-container__content:first-letter, .productive .photos-container .box .box__main-container .main-container__content:first-letter, .productive .photos-container .box .main-container .main-container__content:first-letter {
  font-size: 18px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__content--bold, .productive__photos-container .photos-container__box .main-container .main-container__content--bold, .productive__photos-container .box .box__main-container .main-container__content--bold, .productive__photos-container .box .main-container .main-container__content--bold, .productive .photos-container .photos-container__box .box__main-container .main-container__content--bold, .productive .photos-container .photos-container__box .main-container .main-container__content--bold, .productive .photos-container .box .box__main-container .main-container__content--bold, .productive .photos-container .box .main-container .main-container__content--bold {
  font-weight: bold;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__content--first, .productive__photos-container .photos-container__box .main-container .main-container__content--first, .productive__photos-container .box .box__main-container .main-container__content--first, .productive__photos-container .box .main-container .main-container__content--first, .productive .photos-container .photos-container__box .box__main-container .main-container__content--first, .productive .photos-container .photos-container__box .main-container .main-container__content--first, .productive .photos-container .box .box__main-container .main-container__content--first, .productive .photos-container .box .main-container .main-container__content--first {
  margin-bottom: 10px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper, .productive__photos-container .photos-container__box .main-container .zoom-shaper, .productive__photos-container .box .box__main-container .main-container__zoom-shaper, .productive__photos-container .box .box__main-container .zoom-shaper, .productive__photos-container .box .main-container .main-container__zoom-shaper, .productive__photos-container .box .main-container .zoom-shaper, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper, .productive .photos-container .photos-container__box .main-container .zoom-shaper, .productive .photos-container .box .box__main-container .main-container__zoom-shaper, .productive .photos-container .box .box__main-container .zoom-shaper, .productive .photos-container .box .main-container .main-container__zoom-shaper, .productive .photos-container .box .main-container .zoom-shaper {
  width: 120px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__list, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 12px;
  width: 90px;
  margin-left: 30px;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon {
  color: #0574c9;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__list .zoom-shaper__item .zoom-shaper__icon--white {
  color: #0891f9;
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__line-image, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__line-image, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__line-image, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__line-image, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__line-image, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__line-image, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__line-image, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__line-image, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__line-image {
  height: 8px;
  width: 120px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.productive__photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__title, .productive__photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__title, .productive__photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__title, .productive__photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__title, .productive__photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__title, .productive__photos-container .box .box__main-container .zoom-shaper .zoom-shaper__title, .productive__photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__title, .productive__photos-container .box .main-container .zoom-shaper .zoom-shaper__title, .productive .photos-container .photos-container__box .box__main-container .main-container__zoom-shaper .zoom-shaper__title, .productive .photos-container .photos-container__box .box__main-container .zoom-shaper .zoom-shaper__title, .productive .photos-container .photos-container__box .main-container .main-container__zoom-shaper .zoom-shaper__title, .productive .photos-container .photos-container__box .main-container .zoom-shaper .zoom-shaper__title, .productive .photos-container .box .box__main-container .main-container__zoom-shaper .zoom-shaper__title, .productive .photos-container .box .box__main-container .zoom-shaper .zoom-shaper__title, .productive .photos-container .box .main-container .main-container__zoom-shaper .zoom-shaper__title, .productive .photos-container .box .main-container .zoom-shaper .zoom-shaper__title {
  width: 100px;
  margin-left: 15px;
  font-weight: 300;
}

.productive__photos-container .photos-container__button, .productive .photos-container .photos-container__button {
  border-color: #0891f9;
  color: #0891f9;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 45px;
  margin-bottom: 10px;
}

.newslatter {
  height: 400px;
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4e4e4d;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
}

.newslatter__container {
  width: 280px;
  height: 72px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newslatter__container .container__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
}

.newslatter__container .container__title {
  font-weight: bold;
}

.newslatter__container .container__title--blue {
  color: #0891f9;
}

.newslatter__container .container__corners-images {
  height: 10px;
  margin-top: calc((36px - 10px)/2);
}

.newslatter__describe {
  margin: 10px auto 20px auto;
  width: 80%;
  font-weight: 300;
}

.newslatter__form {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newslatter__form .newslatter__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 10px;
}

.newslatter__form .newslatter__input {
  border: none;
  padding-left: 10px;
}

.newslatter__form .newslatter__input:hover::-webkit-input-placeholder {
  color: black;
}

.newslatter__form .newslatter__input:hover:-ms-input-placeholder {
  color: black;
}

.newslatter__form .newslatter__input:hover::-ms-input-placeholder {
  color: black;
}

.newslatter__form .newslatter__input:hover::placeholder {
  color: black;
}

.newslatter__form .newslatter__input::-webkit-input-placeholder {
  color: #4e4e4d;
}

.newslatter__form .newslatter__input:-ms-input-placeholder {
  color: #4e4e4d;
}

.newslatter__form .newslatter__input::-ms-input-placeholder {
  color: #4e4e4d;
}

.newslatter__form .newslatter__input::placeholder {
  color: #4e4e4d;
}

.newslatter__form .newslatter__input--active {
  -webkit-box-shadow: 0 0 20px rgba(21, 137, 255, 0.2);
          box-shadow: 0 0 20px rgba(21, 137, 255, 0.2);
}

.newslatter__form .newslatter__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-color: #0891f9;
  color: #0891f9;
  margin: 10px auto;
}

.logos {
  background-color: white;
  height: 450px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4e4e4d;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
}

.logos__title {
  font-size: 26px;
  font-weight: bold;
}

.logos__title--blue {
  color: #0891f9;
}

.logos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 20px auto;
  height: 380px;
  overflow: hidden;
}

.logos__container .logos__single-logo {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 10px;
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logos__container .logos__single-logo--active {
  -webkit-box-shadow: 0 0 5px 4px rgba(46, 133, 251, 0.18);
          box-shadow: 0 0 5px 4px rgba(46, 133, 251, 0.18);
}

.logos__container .logos__single-logo .logos__single-image {
  height: 60px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-map {
  height: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
  overflow: hidden;
  background-color: #0891f9;
  padding: 20px 0;
}

.site-map__container, .site-map .container {
  height: 360px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-map__container .container__list, .site-map .container .container__list {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  list-style: none;
  font-size: 17px;
}

.site-map__container .container__list .container__item, .site-map .container .container__list .container__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.site-map__container .container__list .container__item:nth-of-type(1), .site-map .container .container__list .container__item:nth-of-type(1) {
  padding-top: 10px;
}

.site-map__container .container__list .container__item .container__link, .site-map .container .container__list .container__item .container__link {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.site-map__container .container__list--icons, .site-map .container .container__list--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

.site-map__container .container__list--icons .container__item, .site-map .container .container__list--icons .container__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  text-align: center;
}

.site-map__container .container__list--icons .container__item .container__link, .site-map .container .container__list--icons .container__item .container__link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 30px;
  display: block;
  margin-left: 7.32px;
}

.site-map__container .container__list--icons .container__item .container__link:hover, .site-map .container .container__list--icons .container__item .container__link:hover {
  background-color: white;
  color: #0891f9;
}

.site-map__container .container__list--icons .container__item .container__link--facebook, .site-map .container .container__list--icons .container__item .container__link--facebook {
  margin-top: -10px;
}

.footer {
  height: 50px;
  background-color: #0082e5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
}

.footer__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 260px;
}
/*# sourceMappingURL=main.css.map */