.newslatter
    height: 400px
    background-color: $servies-subs-bgc
    font-family: $font-site
    font-size: $font-size-site
    color: $site-color
    position: relative
    overflow: hidden
    padding-top: 50px
    text-align: center
    @include mediaQ(568px)
        height: 280px
    @include mediaQ(768px)
        height: 220px
    &__container
        width: 280px
        height: 72px
        margin: 0 auto
        overflow: hidden
        @include displayFlex(row)
            flex-wrap: wrap
        @include mediaQ(568px)
            width: 320px
        .container__item
            flex-basis: 50%
            height: 36px
            font-size: 18px
            line-height: 36px
        .container__title
            font-weight: bold
            &--blue
                color: #0891f9 
        .container__corners-images
            height: 10px
            margin-top: calc((36px - 10px)/2)       
    &__describe
        margin: 10px auto 20px auto
        width: 280px
        font-weight: 300
        @include mediaQ(568px)
            width: 350px
    &__form
        width: 300px
        margin: 0 auto
        height: 200px
        @include displayFlex(column)
        @include mediaQ(568px)
            width: 500px
            height: 150px
            @include displayFlex(row)
                flex-wrap: wrap
        @include mediaQ(768px)
            width: 700px
            height: 60px
        @include mediaQ(1024px)
            width: 850px
        .newslatter__item
            flex-basis: 25%
            margin: 10px
            @include mediaQ(568px)
                flex-basis: 219px
            @include mediaQ(768px)
                flex-basis: calc(33.33% - 30px)
        .newslatter__input
            border: none
            padding-left: 10px
            &:hover::placeholder
                color: black
            &::placeholder
                color: #4e4e4d
            &--active
                box-shadow: 0 0 20px rgba(21, 137, 255, 0.2)
        .newslatter__button
            flex-grow: 1
            border-color: #0891f9
            color: #0891f9
            margin: 10px auto
            @include mediaQ(568px)
                flex-grow: 0
                flex-basis: 40%
                height: 50px
            @include mediaQ(768px)
                flex-basis: 150px
